---
layout: default
---

<div id="myBtnContainer">
  <a class="btn active" onclick="filterSelection('all')"> Show all</a>
  <a class="btn" onclick="filterSelection('abbott')"> abbott</a>
  <a class="btn" onclick="filterSelection('anki')"> anki</a>
  <a class="btn" onclick="filterSelection('art')"> art</a>
  <a class="btn" onclick="filterSelection('workout')"> workout</a>
  
</div>



  
  


{% if site.posts %}

  {% for post in site.posts %}
    <div class="photos {{ post.title }}">
      <div class="photos__title">
        {% if site.date_format %}
          {{ post.date | date: site.date_format }}
        {% else %}
          {{ post.date | date: "%Y-%m-%d" }}
        {% endif %}
        |&nbsp;{{ post.title }}
      </div>
      <div class="photos__hover-title">
        <div class="hover-text">{{ post.title }}</div>
      </div>
      {% for img in post.photos %}
        
        <div class="photos__img">
          <a href="#{{ img[0] }}">
            <img src="{{ img[1] }}" alt="{{ img[0] }}" />
          </a>
          <a class="lightbox" id="{{ img[0] }}" href="#_">
            <img src="{{ img[1] }}" alt="{{ img[0] }}" />
          </a>
        </div>
        
      {% endfor %}
    </div>
  {% endfor %}
{% endif %}




<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("photos");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>